﻿@using GotTable.Web.Models;

@model GotTable.DAO.RestaurantContacts.BranchContactDAO
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "ContactEdit";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Contact information</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <table class="table table-bordered table-striped">
                        <tbody>
                            @if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="2" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="width:25%;">
                                    Name
                                    <br />
                                    <small style="color: maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.HiddenFor(x => x.BranchId)
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Type
                                    <br />
                                    <small style="color: maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.SelectedType, new SelectList(ViewBag.ContactTypeList, "Name", "Name"), "Please select type", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Phone Number
                                    <br />
                                    <small style="color:maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email address
                                    <br />
                                    <small style="color:maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.IsActive)
                                        Status
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.IsEmailAlert)
                                        Email Alert Status
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.IsPhoneAlert)
                                        Phone Alert Status
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>