﻿@using GotTable.Web.Models;
@model GotTable.DAO.RestaurantCuisines.BranchCuisineDAO
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "CuisineEdit";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Cuisine information</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @using (@Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <table class="table table-bordered table-striped">
                        <tbody>
                            @if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="2" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    Cuisine Name
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.HiddenFor(x => x.BranchId)
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.DropDownListFor(x => x.SelectedCuisine, new SelectList(ViewBag.CuisineList, "CuisineName", "CuisineName", Model.SelectedCuisine), new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.IsActive)
                                        Status
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
