﻿@model IEnumerable<GotTable.DAO.Cuisines.CuisineDAO>
@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = "Reports";
    ViewBag.ActiveSubMenu = "MasterCuisines";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Master Cuisines</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <div class="col-lg-9">
                <h2>Cuisines List</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Cuisine Name
                                </th>
                                <th>
                                    Category Name
                                </th>
                                <th>
                                    Engaged Restaurant
                                </th>
                                <th>
                                    Display Level
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.CuisineName
                                </td>
                                <td>
                                    @item.CategoryName
                                </td>
                                <td>
                                    @item.EngagedRestaurant
                                </td>
                                <td>
                                    @item.DisplayLevel
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
