﻿@using GotTable.Web.Models;
@using GotTable.Common.Enumerations;
@model GotTable.DAO.RestaurantMenus.BranchMenuDAO
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "MenuEdit";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Menu information</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <table class="table table-bordered table-striped">
                        <tbody>
                            @if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="2" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    Name
                                    <br />
                                    <small style="color:maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.HiddenFor(x => x.BranchId)
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description
                                    <br />
                                    <small style="color:maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(x => x.Description, 5, 85, new { @class = "form-control", @style = "resize: none;" })
                                    </div>
                                </td>
                            </tr>
                            @if (ViewBag.CuisineCount == 1)
                            {
                                <tr style="display:none;">
                                    <td>
                                        Cuisine
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.SelectedBranchCuisineId, new SelectList(ViewBag.CuisineList, "Id", "SelectedCuisine", 1), new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        Cuisine
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.SelectedBranchCuisineId, new SelectList(ViewBag.CuisineList, "Id", "SelectedCuisine"), "Please select cuisine", new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    Category
                                    <br />
                                    <small style="color:maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.SelectedCategory, new SelectList(ViewBag.CategoryList, "Name", "Name"), new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cost
                                    <br />
                                    <small style="color:maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.Cost, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.IsActive)
                                        Status
                                    </div>
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.IsDeliveryAvailable)
                                        Delivery option
                                    </div>
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.IsTakeAwayAvailable)
                                        TakeAway option
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

