﻿@using GotTable.Web.Models;
@model IEnumerable<GotTable.DAO.RestaurantAmenities.AmenityDAO>
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "AmenityList";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
    var restaurantId = GotTable.Web.Models.CurrentRestaurant.Id ?? GotTable.Web.Models.Identity.BranchId;
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
}

<style>
    .toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 5px;
    }
</style>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Amenities</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Amenities</h2></span>
        </div>
        <div class="row col-md-12">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th colspan="2">
                            <h5 style="color:black;font-weight:normal;padding-left:10px;">Pick all your amenities from the list.</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="height:43px;">
                            <td style="width:5%; text-align:center; line-height:33px;">
                                <input type="checkbox" checked='@item.Checked' id='@item.AmenityId' />
                            </td>
                            <td style="width:95%; text-align:left; line-height:30px; padding-left:10px;">
                                <span style="font-weight:normal;">@item.AmenityName</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input:checkbox').click(function () {
            var amenityId = $(this).attr("Id");
            if (this.checked) {
                AddIn(amenityId);
            }
            else {
                Remove(amenityId);
            }
        });

        function AddIn(amenityId) {
            $.ajax({
                type: 'get',
                url: 'api/AmenityEdit/Save?AmenityId=' + amenityId + '&restaurantId=' + @restaurantId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'application/json'
            });
        }

        function Remove(amenityId) {
            $.ajax({
                type: 'delete',
                url: 'api/AmenityEdit/Delete?amenityId=' + amenityId + '&restaurantId=' + @restaurantId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            });
        }
    });
</script>

