﻿@model GotTable.DAO.ApplicationSettings.ApplicationSettingDAO
@{
    ViewBag.ActiveMenu = "ApplicationSetting";
    ViewBag.ActiveSubMenu = "";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
    ViewBag.StatusList = GotTable.Common.List.StatusList.Get();
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-barcode barcode-icon"></i>Application Setting</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Application setting</h2></span>
            <span style="float:right">&nbsp; </span>
            <br />
        </div>
        <div class="row">
            <div class="col-xs-12">
                @using (@Html.BeginForm(null, null, FormMethod.Post))
                {
                    <table class="table table-striped table-bordered">
                        <tbody>
                            @if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="2" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <th class="warning" colspan="2">
                                    Authorization settings
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    OTP authorization link
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.OTPAuthUrl, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    OTP auth key
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.OTPAuthKey, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2 factor API link
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.TwoFactorAPIURl, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2 factor API auth key
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.TwoFactorAPIAuthKey, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="warning" colspan="2">
                                    Notification settings (Android or IOS)
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Apns Certificate Password
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.ApnsCeritificatePassword, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    FCM sender Id
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.FCMSenderId, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    FCM server API key
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.FCMServerKey, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    FCM link
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.FCMUrl, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Application Id package name
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.ApplicationIdPackageName, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="warning" colspan="2">
                                    Visiblity settings
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Dine In application status
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.DineInActive, new SelectList(ViewBag.StatusList, "Name", "Name", Model.DineInActive), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Delivery In application status
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.DeliveryActive, new SelectList(ViewBag.StatusList, "Name", "Name", Model.DeliveryActive), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Takeaway In application status
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.TakeawayActive, new SelectList(ViewBag.StatusList, "Name", "Name", Model.TakeawayActive), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="warning" colspan="2">
                                    Other settings
                                </th>
                            </tr>
                            <tr>
                                <td style="width:20%;">
                                    Geo link
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.GeoUrl, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Base url for user application
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.UserApplicationBaseUrl, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Base url for admin application
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.AdminApplicationBaseUrl, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="warning" colspan="2">
                                    Directory informations
                                </th>
                            </tr>
                            <tr>
                                <td style="width:20%;">
                                    Restaurant directory
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.RestaurantDirectory, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Offer directory
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.OfferDirectory, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Notification directory
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.NotificationDirectory, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="warning" colspan="2">
                                    Email and message transmission
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    DineIn email transmission
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.DineInEmailTransmission, new SelectList(ViewBag.StatusList, "Name", "Name", Model.DineInEmailTransmission), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Delivery email transmission
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.DeliveryEmailTransmission, new SelectList(ViewBag.StatusList, "Name", "Name", Model.DeliveryEmailTransmission), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Takeaway email transmission
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.TakeawayEmailTransmission, new SelectList(ViewBag.StatusList, "Name", "Name", Model.TakeawayEmailTransmission), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    DineIn message transmission
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.DineInMessageTransmission, new SelectList(ViewBag.StatusList, "Name", "Name", Model.DineInMessageTransmission), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Delivery message transmission
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.DeliveryMessageTransmission, new SelectList(ViewBag.StatusList, "Name", "Name", Model.DeliveryMessageTransmission), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Takeaway message transmission
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.TakeawayMessageTransmission, new SelectList(ViewBag.StatusList, "Name", "Name", Model.TakeawayMessageTransmission), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="warning" colspan="2">
                                    External integration
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Hangfire active
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.HangfireFeatureEnable, new SelectList(ViewBag.StatusList, "Name", "Name", Model.HangfireFeatureEnable), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    N service bus active
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.ServiceBusFeatureEnable, new SelectList(ViewBag.StatusList, "Name", "Name", Model.ServiceBusFeatureEnable), "Choose one", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>