﻿@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = "Reports";
    ViewBag.ActiveSubMenu = "ApplicationRestaurant";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<script type="text/javascript">
    function getRestaurantDetail(restaurantId) {
        document.getElementById("txtAreaRestaurantDetail").innerHTML = "Loading, please wait...";
        var latitude = $("#latitude").val();
        var longitude = $("#longitude").val();
        var restaurantType = $("#restaurantType").val();
        var apiUrl = "/api/restaurant/Get?latitude=__latitude__&longitude=__longitude__&restaurantType=__restaurantType__&restaurantId=__restaurantId__";
        apiUrl = apiUrl.replace("__latitude__", latitude).replace("__longitude__", longitude).replace("__restaurantType__", restaurantType).replace("__restaurantId__", restaurantId);
        $.ajax(apiUrl,
            {
                success: function (data) {
                    document.getElementById("txtAreaRestaurantDetail").innerHTML = JSON.stringify(data, undefined, 2);
                }
            });
        $("#myModal").modal();
        $("#myModal").focus();
    }

    $(document).ready(function () {

        $("#btnApply").click(function () {
            var apiUrl = "/api/restaurant/V2/GetSearch?latitude=__latitude__&longitude=__longitude__&restaurantType=__restaurantType__";
            var latitude = $("#latitude").val();
            var longitude = $("#longitude").val();
            var restaurantType = $("#restaurantType").val();
            apiUrl = apiUrl.replace("__latitude__", latitude).replace("__longitude__", longitude).replace("__restaurantType__", restaurantType);
            var pageSize = $("#pageSize").val();
            if (pageSize != null && pageSize.trim() != '') {
                apiUrl += "&pageSize=" + pageSize
            }
            var currentPage = $("#currentPage").val();
            if (currentPage != null && currentPage.trim() != '') {
                apiUrl += "&currentPage=" + currentPage
            }
            var restaurantName = $("#restaurantName").val();
            if (restaurantName != null && restaurantName.trim() != '') {
                apiUrl += "&restaurantName=" + restaurantName
            }
            var restaurantCategoryId = $("#restaurantCategory").val();
            if (restaurantCategoryId != null && restaurantCategoryId.trim() != '') {
                apiUrl += "&restaurantCategoryId=" + restaurantCategoryId
            }
            var restaurantOffer = $("#restaurantOffer").val();
            if (restaurantOffer != null && restaurantOffer.trim() != '') {
                apiUrl += "&" + restaurantOffer
            }
            var offerCategory = $("#offerCategory").val();
            if (offerCategory != null) {
                for (i = 0; i < offerCategory.length; i++) {
                    apiUrl += "&offerCategory=" + offerCategory[i]
                }
            }
            var cuisineids = $("#cuisineids").val();
            if (cuisineids != null) {
                for (i = 0; i < cuisineids.length; i++) {
                    apiUrl += "&cuisineids=" + cuisineids[i]
                }
            }
            var localtyIds = $("#localtyIds").val();
            if (localtyIds != null) {
                for (i = 0; i < localtyIds.length; i++) {
                    apiUrl += "&localtyId=" + localtyIds[i]
                }
            }
            var htmlTableRow = "<tr><th>Restaurant name and address</th><th>Cuisines name</th><th>Current active offers</th><th>Offer name</th><th>Tag</th><th>Distance</th><th></th></tr>";
            $.ajax(apiUrl,
                {
                    success: function (data) {
                        for (i = 0; i < data["resturant_list"].length; i++) {
                            htmlTableRow += "<tr>"
                                + "<td>" + data["resturant_list"][i]["name"] + "<br />" + data["resturant_list"][i]["city"] + " " + data["resturant_list"][i]["state"] + "</td>"
                                + "<td>" + data["resturant_list"][i]["cuisinenames"] + "</td>"
                                + "<td>" + data["resturant_list"][i]["activeoffers"] + "</td>"
                                + "<td>" + data["resturant_list"][i]["offername"] + "</td>"
                                + "<td>" + data["resturant_list"][i]["tag"] + "</td>"
                                + "<td>" + data["resturant_list"][i]["distance"] + "</td>"
                                + "<td>" + "<input class='btn btn-warning btn-sm' type='button' value='Detail' onclick=\"getRestaurantDetail('" + data["resturant_list"][i]["id"] + "')\" /></td>"
                                + "</tr>";
                        }
                        $("#tblApplicationRestaurantList").html(htmlTableRow);
                    },
                    error: function () {
                        alert("Some issue occurs, Reported to server.");
                    }
                });
        });
    });
</script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Application Restaurant List</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <div class="col-lg-12">
                <h2>Application Restaurant's List</h2>
            </div>
        </div>
        <div class="row">
            <!--Main container-->
            <div class="col-lg-9">
                <table id="tblApplicationRestaurantList" class="table table-condensed table-striped">
                </table>
            </div>
            <!--Filter-->
            <div class="col-lg-3" style="border-left: solid #f1f1f1 1px;">
                <div class="row col-lg-6">
                    <h5><b>All Filters</b></h5>
                </div>
                <div class="row col-lg-6 text-right">
                    <input type="button" value="Apply" class="btn btn-sm btn-danger" id="btnApply" />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Location</h5>
                    <input type="text" class="form-control" id="latitude" placeholder="Enter latitude" value="12.9716" />
                    <br />
                    <input type="text" class="form-control" id="longitude" placeholder="Enter longitude" value="77.5946" />
                    <br />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Page size and index</h5>
                    <input type="text" class="form-control" id="pageSize" placeholder="Enter page size" value="3" />
                    <br />
                    <input type="text" class="form-control" id="currentPage" placeholder="Enter current page" value="1" />
                    <br />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Search</h5>
                    <input type="text" class="form-control" id="restaurantName" placeholder="Search restaurant name" />
                    <br />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Select offer type</h5>
                    <select id="restaurantOffer" class="form-control">
                        <option value="" selected="selected">None</option>
                        <option value="specialOffer=yes">Special's offer</option>
                        <option value="todaysOffer=yes">Today's offer</option>
                    </select>
                    <br />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Restaurant type</h5>
                    <select id="restaurantType" class="form-control">
                        <option value="DineIn" selected="selected">DineIn</option>
                        <option value="Delivery">Delivery</option>
                        <option value="Takeaway">Takeaway</option>
                    </select>
                    <br />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Restaurant category</h5>
                    <select id="restaurantCategory" class="form-control">
                        <option value="">Please select</option>
                        <option value="Casual_Dining">Casual Dining</option>
                        <option value="Pub">Pub</option>
                        <option value="Microbrewery">Microbrewery</option>
                    </select>
                    <br />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Offer's category</h5>
                    <select id="offerCategory" multiple="multiple" class="form-control">
                        @foreach (var item in ViewBag.CategoryList)
                        {
                            <option value='@item.Id'>@item.Name</option>
                        }
                    </select>
                    <br />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Cuisines</h5>
                    <select id="cuisineids" multiple="multiple" class="form-control">
                        @foreach (var item in ViewBag.CuisineList)
                        {
                            <option value='@item.Id'>@item.CuisineName</option>
                        }
                    </select>
                    <br />
                </div>
                <div class="row col-lg-12" style="border-bottom:solid #f1f1f1 1px;border-top:solid #f1f1f1 1px;padding:5px 10px;">
                    <h5 style="color:black;">Localties</h5>
                    <select id="localtyIds" multiple="multiple" class="form-control">
                        @foreach (var item in ViewBag.LocaltyList)
                        {
                            <option value='@item.Id'>@item.Name</option>
                        }
                    </select>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #region Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" style="width:850px;height:550px;margin:auto auto;border:white double 2px;background:white;overflow-x:hidden;overflow-y:hidden">
    <div class="modal-header row" style="padding-left:10px;">
        <div class="col-md-10 text-left">
            <h3 class="text-primary">Restaurant Detail</h3>
            <span class="text-info" style="padding-left:5px;">Below the latest json file.</span>
        </div>
        <div class="col-md-2 text-right">
            <br />
            <button class="text-right btn btn-danger btn-sm" type="button" data-dismiss="modal">Close</button>
        </div>
    </div>
    <div class="modal-body text-left" style="width:840px;height:430px;max-height:430px;overflow-y:scroll;">
        <pre id="txtAreaRestaurantDetail"></pre>
    </div>
</div>
<!-- #endRegion Modal -->
