﻿@using GotTable.Web.Models;
@model IEnumerable<GotTable.DAO.PushNotifications.NotificationExceptionLogDAO>
@{
    ViewBag.ActiveMenu = "NotificationList";
    ViewBag.ActiveSubMenu = "";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Notification exception log's list</h2></span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Device Token
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                Inner Exception
                            </th>
                            <th>
                                Stack Trace
                            </th>
                            <th>
                                Source
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.DeviceId
                            </td>
                            <td>
                                @item.Message
                            </td>
                            <td>
                                @item.InnerException
                            </td>
                            <td>
                                @item.StackTrace
                            </td>
                            <td>
                                @item.Source
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

