﻿@using GotTable.Web.Models;
@using GotTable.Common.Enumerations;

@model GotTable.DAO.Restaurants.BranchDetailDAO
@{
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "RestaurantEdit";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    ViewBag.CategoryList = GotTable.Common.List.RestaurantCategoryList.Get();
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Restaurant's Detail</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @if (Identity.UserType == Enumeration.AdminType.HotelAdmin.ToString())
                {
                    <table class="table table-bordered table-striped">
                        <tbody>
                            @if (!Model.Status)
                            {
                                <tr class="danger">
                                    <td colspan="2">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="width: 20%">
                                    Restaurant's Name
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.BranchName, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%">
                                    Tag Line
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.TagLine, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address Line 1
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.AddressLine1, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address Line 2
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.AddressLine2, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    City
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.City, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    State
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.State, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Zip
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.Zip, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%">
                                    SEO Title
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.SEOTitle, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%">
                                    SEO Keyword
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.SEOKeyword, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%">
                                    SEO Description
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.SEODescription, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%">
                                    Category
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.Category, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%">
                                    Localities
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.LocalityName1, new { @class = "form-control" })
                                        @Html.DisplayFor(x => x.LocalityName2, new { @class = "form-control" })
                                        @Html.DisplayFor(x => x.LocalityName3, new { @class = "form-control" })
                                        @Html.DisplayFor(x => x.LocalityName4, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%">
                                    Description
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.Description, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%">
                                    Cost for two
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DisplayFor(x => x.CostForTwo, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    using (@Html.BeginForm(null, null, FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        <table class="table table-bordered table-striped">
                            <tbody>
                                @if (!Model.Status)
                                {
                                    <tr class="danger">
                                        <td colspan="2">
                                            @Model.ErrorMessage
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="width: 20%">
                                        Restaurant's Name
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.HiddenFor(x => x.SalesPersonId)
                                            @Html.HiddenFor(x => x.AccountAdminPersonId)
                                            @Html.HiddenFor(x => x.BranchId)
                                            @Html.HiddenFor(x => x.IsActive)
                                            @Html.HiddenFor(x => x.Open4AccountAdmin)
                                            @Html.TextBoxFor(x => x.BranchName, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%">
                                        Tag line
                                        <br />
                                        <small style="color:gray;">Optional</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.TagLine, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Address Line 1
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.AddressLine1, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Address Line 2
                                        <br />
                                        <small style="color:gray;">Optional</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.AddressLine2, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        City
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        State
                                        <br />
                                        <small style="color:maroon;">Required</small>

                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Zip
                                        <br />
                                        <small style="color:maroon;">Required</small>

                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.Zip, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Latitude
                                        <br />
                                        <small style="color:maroon;">Required</small>

                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.Latitude, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Longitude
                                        <br />
                                        <small style="color:maroon;">Required</small>

                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.Longitude, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SEO Title
                                        <br />
                                        <small style="color:gray;">Optional</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.SEOTitle, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SEO Keyword
                                        <br />
                                        <small style="color:gray;">Optional</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.SEOKeyword, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SEO Description
                                        <br />
                                        <small style="color:gray;">Optional</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.SEODescription, new { @class = "form-control" })

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">
                                        Category
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.Category, new SelectList(ViewBag.CategoryList, "Name", "Name", Model.Category), new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">
                                        Localities
                                        <br />
                                        <small style="color:gray;">Select nearest localities.</small>
                                    </td>
                                    <td>
                                        <div class="editor-field col-lg-6">
                                            <small>Locality 1</small>
                                            <br />
                                            @Html.DropDownListFor(x => x.LocalityId1, new SelectList(ViewBag.LocaltyList, "Id", "Name", Model.LocalityId1), "Choose nearest location 1", new { @class = "form-control" })
                                            <br />
                                        </div>
                                        <div class="editor-field col-lg-6">
                                            <small>Locality 2</small>
                                            <br />
                                            @Html.DropDownListFor(x => x.LocalityId2, new SelectList(ViewBag.LocaltyList, "Id", "Name", Model.LocalityId2), "Choose nearest location 2", new { @class = "form-control" })
                                            <br />
                                        </div>
                                        <div class="editor-field col-lg-6">
                                            <small>Locality 3</small>
                                            <br />
                                            @Html.DropDownListFor(x => x.LocalityId3, new SelectList(ViewBag.LocaltyList, "Id", "Name", Model.LocalityId3), "Choose nearest location 3", new { @class = "form-control" })
                                            <br />
                                        </div>
                                        <div class="editor-field col-lg-6">
                                            <small>Locality 4</small>
                                            <br />
                                            @Html.DropDownListFor(x => x.LocalityId4, new SelectList(ViewBag.LocaltyList, "Id", "Name", Model.LocalityId4), "Choose nearest location 4", new { @class = "form-control" })
                                            <br />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%">
                                        Description
                                        <br />
                                        <small style="color:gray;">Optional</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%">
                                        Cost for two
                                        <br />
                                        <small style="color:gray;">Optional</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.CostForTwo, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="col-xs-6">
                                            <input type="submit" value="Save" class="btn btn-success" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
