﻿@using GotTable.Web.Models;
<ul class="nav nav-list">
    <li class='@(ViewBag.ActiveMenu == "RestaurantList" ? "active menu-text" : "menu-text")'>
        <a href="~/RestaurantList?userId=@Identity.UserId"><i class="icon-home"></i><span class="menu-text">Restaurant list</span></a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "NotificationList" ? "active menu-text" : "menu-text")'>
        <a href="~/NotificationList?userId=@Identity.UserId"><i class="glyphicon-tag"></i><span class="menu-text">Notification list</span></a>
    </li>
    @if (ViewBag.ActiveMenu == "RestaurantDetail")
    {
        <li class='@(ViewBag.ActiveMenu == "RestaurantDetail" ? "active menu-text" : "")'>
            <a href="#" class="dropdown-toggle">
                <i class="icon-asterisk"></i>
                <span class="menu-text">@ViewBag.RestaurantName</span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu" style="display: block">
                <li class='@(ViewBag.ActiveSubMenu == "AmenityList" ? "active menu-text" : "menu-text")'>
                    <a href="~/AmenityList?restaurantId=@CurrentRestaurant.Id"><i class="icon-home"></i><span class="menu-text">Amenities </span></a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "CuisineList" ? "active menu-text" : "menu-text")'>
                    <a href="~/CuisineList?restaurantId=@CurrentRestaurant.Id"><i class="icon-glass"></i><span class="menu-text">Cuisines </span></a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "ContactList" ? "active menu-text" : "menu-text")'>
                    <a href="~/ContactList?restaurantId=@CurrentRestaurant.Id"><i class="icon-user"></i><span class="menu-text">Contacts</span></a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "RestaurantEdit" ? "active menu-text" : "menu-text")'>
                    <a href="~/RestaurantEdit?restaurantId=@CurrentRestaurant.Id"><i class="icon-home"></i><span class="menu-text">Detail </span></a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "ImageList" ? "active menu-text" : "menu-text")'>
                    <a href="~/ImageList?restaurantId=@CurrentRestaurant.Id"><i class="icon-home"></i><span class="menu-text">Default Images </span></a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "DocumentList" ? "active menu-text" : "menu-text")'>
                    <a href="~/DocumentList?restaurantId=@CurrentRestaurant.Id"><i class="icon-home"></i><span class="menu-text">Gallery Images </span></a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "MenuList" ? "active menu-text" : "menu-text")'>
                    <a href="~/MenuList?restaurantId=@CurrentRestaurant.Id"><i class="icon-coffee"></i><span class="menu-text">Menus </span></a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "TimingList" ? "active menu-text" : "menu-text")'>
                    <a href="~/TimingList?restaurantId=@CurrentRestaurant.Id"><i class="icon-time"></i><span class="menu-text">Timings </span></a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "TableList" ? "active menu-text" : "menu-text")'>
                    <a href="~/TableList?restaurantId=@CurrentRestaurant.Id"><i class="icon-barcode"></i><span class="menu-text">Tables </span></a>
                </li>
            </ul>
        </li>
    }
</ul>