﻿@using GotTable.Web.Models;
    <ul class="nav nav-list">
        <li class='@(ViewBag.ActiveMenu == "Invoicedlist" ? "active menu-text" : "menu-text")'>
            <a href="~/InvoicedList?userId="><i class="icon-home"></i><span class="menu-text">Restaurant list </span></a>
        </li>
        <li class='@(ViewBag.ActiveMenu == "Pipelinedlist" ? "active menu-text" : "menu-text")'>
            <a href="~/PipelinedList?userId="><i class="icon-barcode barcode-icon"></i><span class="menu-text">Pipelined list </span></a>
        </li>
        <li class='@(ViewBag.ActiveMenu == "Adminlist" ? "active menu-text" : "menu-text")'>
            <a href="~/AdminList?addedBy=@Identity.UserId"><i class="icon-desktop"></i><span class="menu-text">Agent list</span></a>
        </li>
        <li class='@(ViewBag.ActiveMenu == "NotificationList" ? "active menu-text" : "menu-text")'>
            <a href="~/NotificationList?userId=@Identity.UserId"><i class="icon-barcode barcode-icon"></i><span class="menu-text">Notification list</span></a>
        </li>
        <li class='@(ViewBag.ActiveMenu == "VersionInfos" ? "active menu-text" : "menu-text")'>
            <a href="~/VersionList"><i class="icon-desktop"></i><span class="menu-text">Version list</span></a>
        </li>
        <li class='@(ViewBag.ActiveMenu == "ApplicationSetting" ? "active menu-text" : "menu-text")'>
            <a href="~/AppSettingEdit"><i class="icon-barcode barcode-icon"></i><span class="menu-text">App setting</span></a>
        </li>
        <li class='@(ViewBag.ActiveMenu == "OfferCategoriesList" ? "active menu-text" : "menu-text")'>
            <a href="~/OfferCategoriesList"><i class="icon-barcode barcode-icon"></i><span class="menu-text">Offer categories</span></a>
        </li>
        <li class='@(ViewBag.ActiveMenu == "Reports" ? "active" : "")'>
            <a href="#" class="dropdown-toggle">
                <i class="icon-asterisk"></i>
                <span class="menu-text">Reports</span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu" style='@(ViewBag.ActiveMenu == "Reports" ? "display:block;" : "display:none;")'>
                <li class='@(ViewBag.ActiveSubMenu == "ApplicationRestaurant" ? "active" : "")'>
                    <a href="~/ApplicationRestaurantList">
                        <i class="icon-glass"></i><span class="menu-text">Application Restaurant</span>
                    </a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "CustomBookings" ? "active" : "")'>
                    <a href="~/CustomBookingList?bookingStartDate=@DateTime.Now.AddDays(-15).ToString("dd-MM-yyyy")&bookingEndDate=@DateTime.Now.AddDays(15).ToString("dd-MM-yyyy")">
                        <i class="icon-glass"></i><span class="menu-text">Custom booking(s)</span>
                    </a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "MasterCuisines" ? "active" : "")'>
                    <a href="~/MasterCuisineList">
                        <i class="icon-glass"></i><span class="menu-text">Cuisines list</span>
                    </a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "DailyBookings" ? "active" : "")'>
                    <a href="~/DailyBookingList?bookingDate=@DateTime.Now.ToString("MM-dd-yyyy")">
                        <i class="icon-glass"></i><span class="menu-text">Daily booking(s)</span>
                    </a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "DeletedRestaurant" ? "active" : "")'>
                    <a href="~/DeletedRestaurantList">
                        <i class="icon-glass"></i><span class="menu-text">Deleted Restaurant</span>
                    </a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "UserList" ? "active" : "")'>
                    <a href="~/UserList">
                        <i class="icon-glass"></i><span class="menu-text">Active Users</span>
                    </a>
                </li>
                <li class='@(ViewBag.ActiveSubMenu == "ExpiredRestaurants" ? "active" : "")'>
                    <a href="~/ExpiredRestaurantList">
                        <i class="icon-glass"></i><span class="menu-text">Expired restaurant</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>