﻿@model GotTable.DAO.Administrators.AdminDAO
@{
    ViewBag.Title = "Welcome to Got Table Performance.!";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container">
    <div id="login-main">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <div class="text-center">
                                <img src="@Url.Content("~/images/logo.png")" />
                            </div>
                            <br />
                            <h3 class="infotext">Please Enter Your Information 1</h3>
                        </div>
                        <div class="panel-body">
                            @using (@Html.BeginForm(null, null, FormMethod.Post))
                            {
                                <fieldset>
                                    @if (!Model.Status)
                                    {
                                        <div class="form-group" style="color:Red;">
                                            @Model.ErrorMessage
                                        </div>
                                    }
                                    <div class="form-group">
                                        <input class="form-control" placeholder="UserName" name="EmailAddress" type="text" value='@Model.EmailAddress' tabindex="1" style="background-color: dimgrey !important">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="Password" type="password" value='@Model.Password' tabindex="2" style="background-color: dimgrey !important">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-block btn-info" />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6 hide">
                                            <a href="@Url.Action("ForgotPassword", "Home")" class="btn" tabindex="4">Forgot Password?</a>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
