﻿@model GotTable.DAO.Administrators.AdminDAO
@{
    ViewBag.ActiveMenu = "Userlist";
    ViewBag.ActiveSubMenu = "";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Agent Edit</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Agent information</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped">
                    <tbody>
                        @using (@Html.BeginForm(null, null, FormMethod.Post))
                        {
                            if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="2" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="width:20%;">
                                    User Type
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.UserType, new SelectList(ViewBag.TypeList, "Name", "Name"), "Please select user type", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    First name
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Last name
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email address
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password
                                    <br />
                                    <small style="color:maroon">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>