﻿@using GotTable.Web.Models;
@model IEnumerable<GotTable.DAO.RestaurantTables.BranchTableDAO>
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "TableList";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a></li>
            <li><i class="icon-barcode"></i>&nbsp;Tables</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2> Table's List </h2></span>
            <span style="float:right">&nbsp;</span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Table
                                </th>
                                <th>
                                    Value
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(modelItem => item.BranchId)
                                    @Html.HiddenFor(modelItem => item.Id)
                                    @Html.DisplayFor(modelItem => item.SelectedTable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Index", "TableEdit", new { tableId = item.Id }, null)
                                </td>
                            </tr>
                        }
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
