﻿@model GotTable.DAO.Users.ForgetPasswordDAO
@{
    ViewBag.Title = "Got Table";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container">
    <div id="login-main">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <div class="text-center">
                                <img src="@Url.Content("~/images/logo.png")" />
                            </div>
                            <br />
                            <h3 class="infotext">Please enter your email address</h3>
                        </div>
                        <div class="panel-body">
                            @if (Model.ErrorMessage != null)
                            {
                                <div class="form-group" style="color:Red;">
                                    @Model.ErrorMessage
                                </div>
                            }
                            @if (Model.ConfirmationMessage != null)
                            {
                                <div class="form-group" style="color:white;">
                                    @Model.ConfirmationMessage
                                </div>
                            }
                            else
                            {
                                using (Html.BeginForm(null, null, FormMethod.Post))
                                {
                                    <fieldset>
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Submit" class="btn btn-block btn-info" />
                                        </div>
                                    </fieldset>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
