﻿@model GotTable.DAO.PushNotifications.PushNotificationDAO
@{
    ViewBag.ActiveMenu = "NotificationList";
    ViewBag.ActiveSubMenu = "";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-barcode"></i>&nbsp;Notification</li>
            <li><i class="icon-barcode"></i>&nbsp;Detail</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span class="pull-left">
                <h2> Notification Detail's </h2>
            </span>
            <span class="pull-right">&nbsp;</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td style="width: 20%;">
                                Notification image
                            </td>
                            <td>
                                <div class="editor-field">
                                    <img src='@Model.ImagePath' class="img-thumbnail" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Created Date
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.CreatedDatetime.ToString("dd-MMM-yy hh:mm tt")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Current status
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.CurrentStatusName
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Title
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.Title
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Message
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.Message
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Schedule date
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.ScheduleTime
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Offer type
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.OfferTypeName
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Category type
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.CategoryTypeName
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                City
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.CityName
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Notification type
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.NotificationType
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Success Count
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.SuccessCount
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Failure Count
                            </td>
                            <td>
                                <div class="editor-field row">
                                    @if (Model.FailureCount == 0)
                                    {
                                        <div class="col-md-10 pull-left">
                                            @Model.FailureCount
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-10 pull-left">
                                            @Model.FailureCount
                                        </div>
                                        <div class="col-md-2 pull-right">
                                            <a href="~/NotificationExceptionLogList?notificationId=@Model.Id">Exception Logs</a>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                IOS pay load
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.IosPayLoad
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">
                                Android pay load
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Model.AndroidPayLoad
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

