﻿@model GotTable.DAO.PushNotifications.PushNotificationDAO
@{
    ViewBag.ActiveMenu = "NotificationList";
    ViewBag.ActiveSubMenu = "";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-barcode"></i>Notification</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Create a new notification</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    @using (@Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        <table class="table table-bordered table-striped">
                            <tbody>
                                @if (!Model.Status)
                                {
                                    <tr class="warning">
                                        <td colspan="2" style="color:maroon;font-size-13px;">
                                            @Model.ErrorMessage
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="width: 20%;">
                                        Title
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.HiddenFor(x => x.UserId)
                                            @Html.HiddenFor(x => x.CreatedDatetime)
                                            @Html.HiddenFor(x => x.Active)
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">
                                        Message
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextAreaFor(x => x.Message, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Schedule date
                                        <br />
                                        <small style="color:maroon;">Required - Date-Month-Year Hour:Minute</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.ScheduleTime, new { @class = "form-control datetimepicker", @readonly = "readonly" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">
                                        Offer type
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.OfferTypeId, new SelectList(ViewBag.OfferTypeList, "Id", "Name", 1), new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">
                                        Category type
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.CategoryTypeId, new SelectList(ViewBag.CategoryTypeList, "Id", "Name", 1), new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">
                                        City
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.CityId, new SelectList(ViewBag.CityList, "Id", "Name", 1), new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">
                                        Notification type
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.NotificationTypeId, new SelectList(ViewBag.NotificationTypeList, "Id", "Name", 1), new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">
                                        Notification image
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            <input type='file' name="Content" class='form-control' accept="image/*" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="col-xs-6">
                                            <input type="submit" value="Create" class="btn btn-success" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        var today = new Date();
                        $('.datetimepicker').datetimepicker({
                            autoclose: true,
                            format: 'mm-dd-yyyy HH:ii P',
                            pickerPosition: "bottom-top",
                            showMeridian: true,
                            startDate: today,
                            minuteStep: 5
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>

