﻿@model GotTable.DAO.OperationExceptions.OperationExceptionLogDAO
@{
    ViewBag.Title = "Got Table";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<style>
    body {
        background-color: black;
        color: white;
    }
</style>
<div class="container">
    <div class="row" style="margin-top:30px">
        <div class="col-lg-1 left">
            <img src="@Url.Content("~/images/logo.png")" style="max-width:100px;max-height:100px;height:auto;width:auto;" />
        </div>
        <div class="col-lg-9 left" style="margin-left:30px;">
            <h3>Something went wrong with the execution, Click here to @Html.ActionLink("login", "Index", "Home").</h3>
        </div>
    </div>
    <div class="row" style="margin:10px 0px;">
        <div class="row col-lg-12 left" style="margin:10px 0px;">
            <span>@Model.Message</span>
        </div>
        <br />
        <div class="row col-lg-12 left" style="margin:10px 0px;">
            <span>@Model.StackTrace</span>
        </div>
    </div>
</div>