﻿@model GotTable.DAO.Bookings.DeliveryandTakeaway.DeliveryandTakeawayDAO
@{
    ViewBag.ActiveMenu = "Bookings";
    ViewBag.ActiveSubMenu = "Takeaway";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
    var bookingDate = DateTime.ParseExact(Model.BookingDate.ToString("dd-MM-yyyy") + " " + Model.BookingTime, "dd-MM-yyyy HH:mm", null).ToString("dd-MMM-yyyy hh:mm tt");
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="~/Hotel/Dashboard">Home</a></li>
            <li><i class="icon-desktop desktop-icon"></i>&nbsp;&nbsp;Takeaway Detail</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span class="pull-left"><h2> Detail's & Status History </h2></span>
            <span class="pull-right">&nbsp;</span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td class="width-35">
                            <span class="span-header">
                                Date & Time
                            </span>
                            <br />
                            <h6>@bookingDate</h6>
                        </td>
                        <td class="width-35">
                            <span class="span-header">
                                Phone number
                            </span>
                            <h6>
                                @Model.PhoneNumber
                            </h6>
                        </td>
                        <td>
                            <span class="span-header">
                                Selected offer
                            </span>
                            <h6>
                                @Model.OfferTitle
                                <br />
                                @Model.OfferDescription
                            </h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="span-header">
                                Cart amount
                            </span>
                            <br />
                            <h6>
                                @Model.Cartamount
                            </h6>
                        </td>
                        <td>
                            <span class="span-header">
                                Central (GST)
                            </span>
                            <br />
                            <h6>
                                @Model.CentralGST
                            </h6>
                        </td>
                        <td>
                            <span class="span-header">
                                State (GST)
                            </span>
                            <br />
                            <h6>
                                @Model.StateGST
                            </h6>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="span-header">
                                User information
                            </span>
                            <h6>
                                @Model.UserDetail.UserType
                                &nbsp;&nbsp;
                                &nbsp;&nbsp;
                                @Model.UserDetail.FirstName
                                @Model.UserDetail.LastName
                                &nbsp;&nbsp;
                                @Model.UserDetail.EmailAddress

                            </h6>
                        </td>
                        <td>
                            <span class="span-header">
                                Promo code
                            </span>
                            <h6>
                                @Model.PromoCode
                            </h6>
                        </td>
                    </tr>
                </table>

                @if (Model != null && Model.CartItem.Count() > 0)
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>
                                    Menu Name
                                </td>
                                <td>
                                    Quantity
                                </td>
                                <td>
                                    Amount
                                </td>
                                <td>
                                    Remark
                                </td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.CartItem)
                        {
                            <tr>
                                <td>
                                    <span>@item.MenuName</span>
                                </td>
                                <td>
                                    <span>@item.Quantity</span>
                                </td>
                                <td>
                                    <span>@item.Amount</span>
                                </td>
                                <td>
                                    <span>@item.Remark</span>
                                </td>
                            </tr>
                        }
                    </table>
                }

                @if (Model != null && Model.StatusList.Count() > 0)
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>
                                    Status
                                </td>
                                <td>
                                    Comment
                                </td>
                                <td>
                                    By
                                </td>
                                <td>
                                    Created Date
                                </td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.StatusList)
                        {
                            <tr>
                                <td>
                                    <span>@item.StatusName</span>
                                </td>
                                <td>
                                    <span>@item.Comment</span>
                                </td>
                                <td>
                                    @if (item.AdminId != null)
                                    {
                                        <span style="color: green;">@item.AdminName </span>
                                    }
                                    else
                                    {
                                        <span style="color: black;">@item.UserName</span>
                                    }
                                </td>
                                <td>
                                    <span>@item.CreatedDate</span>
                                </td>
                            </tr>
                        }
                    </table>
                }
                @if (Model.StatusList.Count() == 1)
                {
                    var model = new GotTable.DAO.Bookings.DeliveryandTakeaway.DeliveryandTakeawayStatusDAO()
                    {
                        BookingId = Model.BookingId,
                        AdminId = decimal.Parse(GotTable.Web.Models.Identity.UserId),
                        CreatedDate = DateTime.Now
                    };

                    using (Html.BeginForm("NewStatus", null, FormMethod.Post, model))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(item => model.BookingId)
                        @Html.HiddenFor(item => model.AdminId)
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td style="width: 50%">
                                    Comments
                                    <br />
                                    @Html.TextBoxFor(item => model.Comment, new { @class = "form-control" })
                                </td>
                                <td style="width: 40%">
                                    Status
                                    <br />
                                    @Html.DropDownListFor(item => model.StatusName, new SelectList(ViewBag.TakeawayStatusList, "Name", "Name"), new { @class = "form-control" })
                                </td>
                                <td>
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </td>
                            </tr>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>


