﻿@using GotTable.Common.Enumerations;
@model IEnumerable<GotTable.DAO.Bookings.BookingDAO>
@{
    ViewBag.ActiveMenu = "Bookings";
    ViewBag.New = Model.Where(x => x.IsRead == false).Count();
    ViewBag.Pending = Model.Where(x => x.CurrentStatus == "Confirm").Count();
    ViewBag.Completed = Model.Where(x => x.CurrentStatus == "Complete").Count();
    ViewBag.Cancelled = Model.Where(x => x.CurrentStatus != "Complete" && x.CurrentStatus != "Confirm").Count();
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<script type="text/javascript" src="~/Scripts/transactionPage.js"></script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a></li>
            <li><i class="icon-desktop desktop-icon"></i>&nbsp;@ViewBag.ActiveSubMenu Booking</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2> Transaction's List</h2></span>
            <span style="float:right">&nbsp;</span>
        </div>

        <div class="row" style="height: 40px;">
            <div class="col-xs-12 col-sm-9 dine-list">
                <ul>
                    <li>
                        <button type="button" class="btn btn-primary pcc-btn cancel">
                            Pending
                            <span id="lblCurrentBookingPending" class="badge pcc-badge">@ViewBag.Pending</span>
                        </button>
                    </li>

                    <li>
                        <button type="button" class="btn btn-primary pcc-btn complete">
                            Completed
                            <span id="lblCurrentBookingCompleted" class="badge pcc-badge">@ViewBag.Completed</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary pcc-btn cancel">
                            Cancelled
                            <span id="lblCurrentBookingCancelled" class="badge pcc-badge">@ViewBag.Cancelled</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="tblDineInBooking">
                        <thead>
                            <tr>
                                <th>
                                    Booking date time
                                </th>
                                <th>
                                    Detail
                                </th>
                                <th>
                                    User
                                </th>
                                <th>
                                    Phone number
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Offer
                                </th>
                                <th>
                                    Created On
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        @if (Model != null)
                        {
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td style='@(!item.IsRead ? "font-weight:bold;" : "")'>
                                        @item.BookingDateTimeToString
                                        @if (!item.IsRead)
                                        {
                                            <br />
                                            <br />
                                            <span style="padding:2px 8px; border-radius:5px; border: dashed #000000 1px;">New</span>
                                        }
                                    </td>
                                    <td style='@(!item.IsRead ? "font-weight:bold;" : "")'>
                                        @if (item.BookingType == Enumeration.BookingType.DineIn.ToString())
                                        {
                                            @item.BookingType
                                            <br />
                                            <br />
                                            @item.TableName
                                        }
                                        else
                                        {
                                            @item.BookingType
                                        }
                                    </td>
                                    <td style='@(!item.IsRead ? "font-weight:bold;" : "")'>
                                        @item.Name
                                    </td>
                                    <td style='@(!item.IsRead ? "font-weight:bold;" : "")'>
                                        @item.PhoneNumber
                                    </td>
                                    <td style='@(!item.IsRead ? "font-weight:bold;" : "")'>
                                        @item.CurrentStatus
                                    </td>
                                    <td style="width:15%;">
                                        @if (string.IsNullOrEmpty(item.OfferTitle))
                                        {
                                            <span>NA</span>
                                        }
                                        else
                                        {
                                            <div class="tooltip">
                                                @item.OfferTitle
                                                <span class="tooltiptext">@item.OfferDescription</span>
                                            </div>
                                        }
                                    </td>
                                    <td style='@(!item.IsRead ? "font-weight:bold;" : "")'>
                                        @item.DateTimeForOrder
                                    </td>
                                    <td>
                                        @if (item.BookingType == Enumeration.BookingType.DineIn.ToString())
                                        {
                                            @Html.ActionLink("Detail", "Index", "DineInEdit", new { bookingId = item.BookingId, isRead = !item.IsRead }, null)
                                        }
                                        else if (item.BookingType == Enumeration.BookingType.Delivery.ToString())
                                        {
                                            @Html.ActionLink("Detail", "Index", "DeliveryEdit", new { bookingId = item.BookingId, isRead = !item.IsRead }, null)
                                        }
                                        else if (item.BookingType == Enumeration.BookingType.Takeaway.ToString())
                                        {
                                            @Html.ActionLink("Detail", "Index", "TakeawayEdit", new { bookingId = item.BookingId, isRead = !item.IsRead }, null)
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
