﻿@using GotTable.Web.Models;
@model IEnumerable<GotTable.DAO.RestaurantTimings.BranchTimingDAO>
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "TimingList";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-time"></i>&nbsp;Timings</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left;"><h2> Timing's List </h2></span>
            <span style="float:right;">&nbsp;</span>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        <h5>@item.SelectedCategory</h5>
                                    </td>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        @Html.ActionLink("Edit", "Index", "TimingEdit", new { @restaurantId = item.BranchId, @type = @item.SelectedCategory }, new { @class = "btn pull-right btn-success" })
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 15%;">
                                        Day
                                    </td>
                                    <td style="width: 15%;">
                                        Open/Close
                                    </td>
                                    <td style="width: 15%;">
                                        Lunch start time
                                    </td>
                                    <td style="width: 15%;">
                                        Lunch end time
                                    </td>
                                    <td style="width: 15%;">
                                        Dinner start time
                                    </td>
                                    <td style="width: 15%;">
                                        Dinner end time
                                    </td>
                                </tr>
                                @foreach (var timingItem in item.DayTiming)
                                {
                                    <tr>
                                        <td style="width: 15%;">
                                            @timingItem.SelectedDay
                                        </td>
                                        <td style="width: 15%;">
                                            <span class='@(timingItem.IsClosed ? "cusine-yes" : "cusine-no")'>@(timingItem.IsClosed ? "Close" : "Open")</span>
                                        </td>
                                        <td style="width: 15%;">
                                            <span>@timingItem.LunchStartTime</span>
                                        </td>
                                        <td style="width: 15%;">
                                            <span>@timingItem.LunchEndTime</span>
                                        </td>
                                        <td style="width: 15%;">
                                            <span>@timingItem.DinnerStartTime</span>
                                        </td>
                                        <td style="width: 15%;">
                                            <span>@timingItem.DinnerEndTime</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
