﻿@using GotTable.Web.Models;
@model GotTable.DAO.RestaurantTimings.BranchTimingDAO
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "TimingEdit";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
    int dayCounter = 0;
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-time time-icon"></i>&nbsp;Timings</li>
        </ul>
    </div>
    <div class="page-content">
        <h4>Edit timing for @Model.SelectedCategory</h4>

        @using (Html.BeginForm(null, null, FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken();
            @Html.HiddenFor(x => x.BranchId)
            @Html.HiddenFor(x => x.SelectedCategory)
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Day
                        </th>
                        <th>
                            Close for day
                        </th>
                        <th>
                            Lunch start time
                        </th>
                        <th>
                            Lunch end time
                        </th>
                        <th>
                            Dinner start time
                        </th>
                        <th>
                            Dinner end time
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DayTiming)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(x => Model.DayTiming[dayCounter].Id)
                                <span style="color:maroon;">
                                    @item.SelectedDay
                                </span>
                            </td>
                            <td>
                                @Html.CheckBoxFor(x => Model.DayTiming[dayCounter].IsClosed)
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(x => Model.DayTiming[dayCounter].LunchStartTime, new SelectList(ViewBag.LunchSlot, "Name", "Name", item.LunchStartTime),
                                   new { @class = "form-control" })
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(x => Model.DayTiming[dayCounter].LunchEndTime, new SelectList(ViewBag.LunchSlot, "Name", "Name", item.LunchEndTime),
                                   new { @class = "form-control" })
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(x => Model.DayTiming[dayCounter].DinnerStartTime, new SelectList(ViewBag.DinnerSlot, "Name", "Name", item.DinnerStartTime),
                                   new { @class = "form-control" })
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(x => Model.DayTiming[dayCounter].DinnerEndTime, new SelectList(ViewBag.DinnerSlot, "Name", "Name", item.DinnerEndTime),
                                   new { @class = "form-control" })
                                </div>
                            </td>
                        </tr>
                        dayCounter++;
                    }
                </tbody>
                <tr>
                    <td colspan="6">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
