﻿@using GotTable.Web.Models;
@using GotTable.Common.Enumerations;
@model IEnumerable<GotTable.DAO.RestaurantCuisines.BranchCuisineDAO>
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "CuisineList";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-glass"></i>&nbsp;Cuisine list</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2> Cuisine List </h2></span>
            @if (Identity.UserType == Enumeration.AdminType.AccountAdmin.ToString())
            {
                <span style="float:right">
                    <div class="addbtn">
                        @Html.ActionLink("New", "Index", "CuisineEdit", new { @cuisineId = 0 }, null)
                    </div>
                </span>
            }
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Cuisine Name
                                </th>
                                <th>
                                    Active
                                </th>
                                @if (Identity.UserType == Enumeration.AdminType.AccountAdmin.ToString())
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(modelItem => item.BranchId)
                                        @Html.DisplayFor(modelItem => item.SelectedCuisine)
                                    </td>
                                    <td>
                                        <span class='@(item.IsActive == true ? "cusine-yes" : "cusine-no")'>@(item.IsActive == true ? "Yes" : "No")</span>
                                    </td>
                                    @if (Identity.UserType == Enumeration.AdminType.AccountAdmin.ToString())
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "Index", "CuisineEdit", new { cuisineid = item.Id }, null)
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
