﻿@using GotTable.Common.Enumerations;
@model GotTable.DAO.Bookings.DineIn.DineInBookingDAO
@{
    ViewBag.ActiveMenu = "Bookings";
    ViewBag.ActiveSubMenu = "DineIn";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
    var bookingDate = DateTime.ParseExact(Model.BookingDate.ToString("dd-MM-yyyy") + " " + Model.BookingTime, "dd-MM-yyyy HH:mm", null).ToString("dd-MMM-yyyy hh:mm tt");
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a></li>
            <li><i class="icon-desktop desktop-icon"></i>&nbsp;&nbsp;Dine In Detail</li>
        </ul>
    </div>
    <div class="page-content">

        <div class="addheader">
            <span class="pull-left">
                <h2> Detail's & status history </h2>
            </span>
            <span class="pull-right">&nbsp;</span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                @Html.HiddenFor(x => x.BranchId)
                @Html.HiddenFor(x => x.SelectedTable)
                <table class="table table-bordered table-striped">
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            Date & time
                        </td>
                        <td>
                            @bookingDate
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            Status
                        </td>
                        <td>
                            <b>@Model.StatusList.LastOrDefault().StatusName</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            Table
                        </td>
                        <td>
                            @Model.SelectedTable
                        </td>
                    </tr>
                    <tr style="border:solid 1px;">
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            Selected offer
                        </td>
                        <td>
                            @if (string.IsNullOrEmpty(Model.OfferType) || string.IsNullOrEmpty(Model.OfferTitle) || string.IsNullOrEmpty(Model.OfferDescription))
                            {
                                <span>No offer selected</span>
                            }
                            else
                            {
                                <div class="col-md-12">
                                    <div class="row col-md-4" style="vertical-align:middle;text-align:left">
                                        @Model.OfferType
                                        <br />
                                        <br />
                                    </div>
                                    @if (Model.DoubleTheDeal)
                                    {
                                        <div class="row col-md-8" style="vertical-align:middle;text-align:right">
                                            <b style="color:maroon;">
                                                Double the deal activated
                                            </b>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.OfferTitle))
                                    {
                                        <div class="row col-md-12">
                                            @Model.OfferTitle
                                            <br />
                                            <br />
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.OfferDescription))
                                    {
                                        <div class="row col-md-12">
                                            @Model.OfferDescription
                                            <br />
                                        </div>
                                    }
                                </div>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            Promo code
                        </td>
                        <td>
                            @Model.PromoCode
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            Comments
                        </td>
                        <td>
                            @Model.Comment
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            User type
                        </td>
                        <td>
                            @Model.UserDetail.UserType
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            User name
                        </td>
                        <td>
                            @Model.UserDetail.FirstName @Model.UserDetail.LastName
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            User emailaddress
                        </td>
                        <td>
                            @Model.UserDetail.EmailAddress
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;color:#cdcdcd;">
                            Phone number
                        </td>
                        <td>
                            @Model.UserDetail.PhoneNumber
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-4">
                @if (Model.StatusList.Count() == 1)
                {
                    var model = new GotTable.DAO.Bookings.DineIn.DineInStatusDAO()
                    {
                        BookingId = Model.Id,
                        UserId = decimal.Parse(GotTable.Web.Models.Identity.UserId),
                        CreatedDate = DateTime.Now
                    };

                    using (Html.BeginForm("NewStatus", null, FormMethod.Post, model))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(item => model.BookingId)
                        @Html.HiddenFor(item => model.UserId)
                        @Html.HiddenFor(item => model.CreatedDate)
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th colspan="2">
                                    <h5>Set new booking status here.!</h5>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Comments
                                    <br />
                                    @Html.TextAreaFor(item => model.Comment, new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 80%">
                                    Status
                                    <br />
                                    @Html.DropDownListFor(item => model.StatusName, new SelectList(ViewBag.DineInStatusList, "Name", "Name"), "Please select new status", new { @class = "form-control" })
                                </td>
                                <td style="width: 20%; text-align:right;">
                                    <br />
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </td>
                            </tr>
                        </table>
                    }
                }
                @if (Model.StatusList.Count() > 0)
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>
                                    Status
                                </td>
                                <td>
                                    Comment
                                </td>
                                <td>
                                    By
                                </td>
                                <td>
                                    Created Date
                                </td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.StatusList)
                        {
                            <tr>
                                <td>
                                    <span>@item.StatusName</span>
                                </td>
                                <td>
                                    <span>@item.Comment</span>
                                </td>
                                <td>
                                    @if (item.AdminId != null)
                                    {
                                        <span class="text-info">@item.AdminName</span>
                                    }
                                    else
                                    {
                                        <span class="text-info">@item.UserName</span>
                                    }
                                </td>
                                <td>
                                    <span>@item.CreatedDate.ToString("dd-MM-yyyy hh:mm tt")</span>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>

