﻿@model IEnumerable<GotTable.DAO.Reports.ExpiredRestaurantDAO>
@using GotTable.Web.Views.ExpiredRestaurantList;
@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = "Reports";
    ViewBag.ActiveSubMenu = "ExpiredRestaurants";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Expired Restaurants</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <div class="col-lg-12">
                <h2>List of all expired restaurants</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @IndexResources.Name
                                </th>
                                <th>
                                    @IndexResources.Address
                                </th>
                                <th>
                                    @IndexResources.ExpiryDate
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Address
                                </td>
                                <td>
                                    @item.ExpireDate
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
