﻿@using GotTable.Web.Models;
@using GotTable.Common.Enumerations;
@model IEnumerable<GotTable.DAO.RestaurantContacts.BranchContactDAO>
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "ContactList";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left">
                <h2>Contact List</h2>
            </span>
            <span style="float:right">
                <div class="addbtn">
                    @Html.ActionLink("New", "Index", "ContactEdit", new { @contactId = 0 }, null)
                </div>
            </span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Phone number
                            </th>
                            <th>
                                Email address
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Email alerts
                            </th>
                            <th>
                                Phone alerts
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.SelectedType
                                </td>
                                <td>
                                    @item.PhoneNumber
                                </td>
                                <td>
                                    @item.EmailAddress
                                </td>
                                <td>
                                    <span class='@(item.IsActive ? "cusine-yes" : "cusine-no" )'>@(item.IsActive ? "Yes" : "No")</span>
                                </td>
                                <td>
                                    <span class='@(item.IsEmailAlert ? "cusine-yes" : "cusine-no" )'>@(item.IsActive ? "Yes" : "No")</span>
                                </td>
                                <td>
                                    <span class='@(item.IsPhoneAlert ? "cusine-yes" : "cusine-no" )'>@(item.IsActive ? "Yes" : "No")</span>
                                </td>
                                <td>
                                    @{
                                        bool btnVisiblity = (Identity.UserType == Enumeration.AdminType.HotelAdmin.ToString() && item.SelectedType == Enumeration.ContactType.GotTableRepersentative);
                                        if (!btnVisiblity)
                                        {
                                            @Html.ActionLink("Edit", "Index", "ContactEdit", new { @contactId = item.Id }, null)
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>