﻿@using GotTable.Web.Models;
@model IEnumerable<GotTable.DAO.RestaurantRatings.BranchRatingDAO>
@{
    ViewBag.ActiveMenu = "Reviews";
    ViewBag.ActiveSubMenu = "";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-comments"></i>&nbsp;Reviews</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2> Review's List </h2></span>
            <span style="float:right">&nbsp;</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Comment
                                </th>
                                <th>
                                    Rating
                                </th>
                                <th>
                                    User
                                </th>
                            </tr>
                        </thead>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                        <br />
                                        @Html.DisplayFor(modelItem => item.EmailAddress)
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
