﻿@using GotTable.Web.Models;

@model GotTable.DAO.RestaurantInvoices.BranchInvoiceDAO
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "InvoiceEdit";
    ViewBag.RestaurantId = CurrentRestaurant.Id;
    ViewBag.RestaurantName = CurrentRestaurant.Name;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>New Invoice</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2> Create a new invoice</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>
        <div class="row col-xs-12">
            <div class="table-responsive">
                @using (@Html.BeginForm(null, null, FormMethod.Post))
                {

                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <table class="table table-bordered table-striped">
                        <tbody>
                            @if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="2" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="width: 20%;">
                                    Amount
                                    <br />
                                    <small style="color:maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.HiddenFor(x => x.FirstInvoice)
                                        @Html.HiddenFor(x => x.BranchId)
                                        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Subscription Type
                                    <br />
                                    <small style="color:maroon;">Required</small>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.SelectedPrescription, new SelectList(ViewBag.SusbscriptionList, "Id", "Name"), "Select Subscription Type", new { @class = "form-control", data_required = "true" })
                                    </div>
                                </td>
                            </tr>
                            @if (Model.UserId == 0)
                            {
                                <tr>
                                    <td>
                                        First Name
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Last Name
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email Address
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        First Name
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.HiddenFor(x => x.UserId)
                                            @Html.HiddenFor(x => x.FirstName)
                                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Last Name
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.HiddenFor(x => x.LastName)
                                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email Address
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    <td>
                                        <div class="editor-field">
                                            @Html.HiddenFor(x => x.EmailAddress)
                                            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2">
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.DineIn)
                                        <span style="color:black;">Tick mark this option to enable the "Dine In" service.</span>
                                    </div>
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.Delivery)
                                        <span style="color:black;">Tick mark this option to enable the "Delivery" service.</span>
                                    </div>
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(x => x.Takeaway)
                                        <span style="color:black;">Tick mark this option to enable the "TakeAway" service.</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

