﻿<!-- #region Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change password..!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="text-info">Old password</span>
                        <br />
                        <input type='password' id="txtOldPassword" class='form-control' />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="text-info">New password</span>
                        <br />
                        <input type='password' id="txtNewPassword" class='form-control' />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="text-info">Confirm password</span>
                        <br />
                        <input type='password' id="txtConfirmPassword" class='form-control' />
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-9 text-left">
                    <span id="spanErrorMessage" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-success" type="submit" id="btnPasswordChange">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endRegion Modal -->
<!-- #region Script -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#linkButtonChangePassword').click(function () {
            $('#spanErrorMessage').html('');
            $('#txtOldPassword').val('');
            $('#txtNewPassword').val('');
            $('#txtConfirmPassword').val('');
            $('#myModal').modal();
        });

        $('#btnPasswordChange').click(function () {
            $('#spanErrorMessage').html('');
            var userId = '@GotTable.Web.Models.Identity.UserId';
            var oldPassword = $('#txtOldPassword').val();
            var newPassword = $('#txtNewPassword').val();
            var confirmPassword = $('#txtConfirmPassword').val();
            if (oldPassword == '') {
                $('#spanErrorMessage').html('Old password can not be blank');
                return;
            }
            if (newPassword == '') {
                $('#spanErrorMessage').html('New password can not be blank');
                return;
            }
            if (confirmPassword == '') {
                $('#spanErrorMessage').html('Confirm password can not be blank');
                return;
            }
            if (newPassword != confirmPassword) {
                $('#spanErrorMessage').html('New password & confirm password should be match');
                return;
            }
            var request = $.ajax({
                url: "api/AdminPassword",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    "userid": userId,
                    "oldpassword": oldPassword,
                    "newpassword": newPassword
                }),
                dataType: "text"
            });
            request.done(function (msg) {
                alert('Password changed successfully.!');
                window.location.reload();
            });
            request.fail(function (jqXHR, textStatus) {
                alert('There are some issue going on, please try after some time.');
                window.location.reload();
            });
        });
    });
</script>
<!-- #endRegion Script -->
