﻿@model IEnumerable<GotTable.DAO.Reports.CustomBookingDAO>
@using GotTable.Web.Views.CustomBookingList;
@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = "Reports";
    ViewBag.ActiveSubMenu = "CustomBookings";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        var today = new Date();
        $(".datepicker").datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy',
            pickerPosition: "bottom-right",
        });

        $("#buttonClick").click(function () {
            var bookingStartDate = $('#bookingStartDate').val();
            var bookingEndDate = $('#bookingEndDate').val();
            var restaurantName = $('#restaurantName').val();
            var restaurantCategory = $('#restaurantCategory').val();
            var url = '@Html.Raw(Url.Action("Index", "CustomBookingList", new { bookingStartDate = "__bookingStartDate__", bookingEndDate = "__bookingEndDate__", restaurantName = "__restaurantName__", restaurantCategory = "__restaurantCategory__" }))';
            window.location.href = url.replace("__bookingStartDate__", bookingStartDate).replace("__bookingEndDate__", bookingEndDate).replace("__restaurantName__", restaurantName).replace("__restaurantCategory__", restaurantCategory);
        });
    });
</script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-next next"></i>Report</li>
            <li><i class="icon-next next"></i>Custom Booking List</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-9">
                <div class="table-responsive" style="margin-top: 18px;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @IndexResources.BranchName
                                </th>
                                <th>
                                    @IndexResources.State
                                </th>
                                <th>
                                    @IndexResources.BranchCity
                                </th>
                                <th>
                                    @IndexResources.Zip
                                </th>
                                <th>
                                    @IndexResources.UserName
                                </th>
                                <th>
                                    @IndexResources.PhoneNumber
                                </th>
                                <th>
                                    @IndexResources.BookingType
                                </th>
                                <th>
                                    @IndexResources.BookingDateTime
                                </th>
                                <th>
                                    @IndexResources.BookingCreationDate
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            var formatedBookingDateTime = string.Empty;
                            if (item.BookingTime.Length == 5)
                            {
                                formatedBookingDateTime = DateTime.ParseExact(item.BookingDate + " " + item.BookingTime, "MM-dd-yyyy HH:mm", null).ToString("dd-MM-yyyy hh:mm tt");
                            }
                            <tr>
                                <td>
                                    @item.BranchName
                                </td>
                                <td>
                                    @item.BranchState
                                </td>
                                <td>
                                    @item.BranchCity
                                </td>
                                <td>
                                    @item.BranchZipCode
                                </td>
                                <td>
                                    @item.UserName
                                </td>
                                <td>
                                    @item.PhoneNumber
                                </td>
                                <td>
                                    @item.BookingType.ToString()
                                </td>
                                <td>
                                    <span>@formatedBookingDateTime</span>
                                </td>
                                <td>
                                    @item.CreatedDate
                                </td>
                            </tr>
                        }
                    </table>
                    <h5><strong>@ViewBag.TotalBookings</strong> booking(s) found</h5>
                </div>
            </div>
            <div class="col-xs-3" style="border-left: solid #26d21a 1px; height: 500px;">
                <div class="col-md-12" style="margin-top:3px;">
                    <h3>Filters</h3>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-success bolder">Start Date</span>
                    <br />
                    <input type="text" id="bookingStartDate" class="form-control datepicker" readonly value='@ViewBag.SelectedBookingStartDate' />
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-success bolder">End Date</span>
                    <br />
                    <input type="text" id="bookingEndDate" class="form-control datepicker" readonly value='@ViewBag.SelectedBookingEndDate' />
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-success bolder">Restaurant Name</span>
                    <br />
                    <input type="text" id="restaurantName" class="form-control" placeholder="Search your restaurant name here.!" value='@ViewBag.RestaurantName' />
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-success bolder">Restaurant Category</span>
                    <br />
                    <select class="form-control" id="restaurantCategory">
                        <option selected value="">Select category</option>
                        <option @(@ViewBag.RestaurantCategory == "DineIn" ? "selected" : "") value="DineIn">Dine In</option>
                        <option @(@ViewBag.RestaurantCategory == "Delivery" ? "selected" : "") value="Delivery">Delivery</option>
                        <option @(@ViewBag.RestaurantCategory == "Takeaway" ? "selected" : "") value="Takeaway">Takeaway</option>
                    </select>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <input id="buttonClick" type="button" value="Search" class=" btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>
