﻿@model IEnumerable<GotTable.DAO.Users.UserDetailDAO>
@{
    ViewBag.ActiveMenu = "Reports";
    ViewBag.ActiveSubMenu = "UserList";
    ViewBag.TotalUsers = Model.Count();
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

            $("#buttonClick").click(function () {
                var emailAddress = $('#emailAddress').val();
                var url = '@Html.Raw(Url.Action("Index", "UserList", new { query = "__query__"}))';
                window.location.href = url.replace("__query__", emailAddress);
            });

            $('#clearClick').click(function () {
                $('#emailAddress').val('');
                var emailAddress = $('#emailAddress').val();
                var url = '@Html.Raw(Url.Action("Index", "UserList", new { query = "__query__"}))';
                window.location.href = url.replace("__query__", emailAddress);
            });
    });
</script>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>User's list</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="height: 40px;">
            <div class="col-xs-9 dine-list">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Total
                            &nbsp;
                            <span class="bolder" style="color:maroon">@ViewBag.TotalUsers</span>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Phone Number
                            </th>>
                            <th>
                                Email Address
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    @user.FirstName
                                </td>
                                <td>
                                    @user.LastName
                                </td>
                                <td>
                                    @user.PhoneNumber
                                </td>
                                <td>
                                    @user.EmailAddress
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-xs-3" style="border-left: solid #26d21a 1px; height: 500px;">
                <div class="col-md-12" style="margin-top:3px;">
                    <h3>Filters</h3>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-danger bolder">Search</span>
                    <br />
                    <input type="text" id="emailAddress" class="form-control" value='@ViewBag.EmailAddress' placeholder="Search for email address" />
                </div>
                <div class="col-md-6" style="margin-top:30px;">
                    <input id="buttonClick" type="button" value="Search" class="btn btn-success" />
                </div>
                <div class="col-md-6" style="margin-top:30px;">
                    <input id="clearClick" type="button" value="Clear" class="btn btn-success" style="background-color:maroon !important;" />
                </div>
            </div>
        </div>
    </div>
</div>
